
#contenedor {	
	
	
	text-align: center;
 	justify-content: center;
  	align-items: center;
  	background: url(../images/fondo.jpg) no-repeat;
  	width: 100%;
  	height: 100%;
  	margin: auto;
}

#body {
	
	
}

.tabla{
	
	
	margin-left: 30%;
	
}